.NavigationItem {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.NavigationItemLink:link,
.NavigationItemLink:visited {
  text-decoration: none;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

@media (min-width: 700px) {
  .NavigationItemLink:link,
  .NavigationItemLink:visited {
    color: hsl(210, 4%, 95%);
  }
}
