.Gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Gallery div {
  width: 100%;
  height: 200px;

  background-position: center;
  background-size: cover;
}

.GalleryImg1 {
  background-image: url("../../assets/Images/mobile/image-gallery-milkbottles.jpg");
}

.GalleryImg2 {
  background-image: url("../../assets/Images/mobile/image-gallery-orange.jpg");
}

.GalleryImg3 {
  background-image: url("../../assets/Images/mobile/image-gallery-cone.jpg");
}

.GalleryImg4 {
  background-image: url("../../assets/Images/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 700px) {
  .Gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .Gallery div {
    height: 250px;
  }

  .GalleryImg1 {
    background-image: url("../../assets/Images/desktop/image-gallery-milkbottles.jpg");
  }

  .GalleryImg2 {
    background-image: url("../../assets/Images/desktop/image-gallery-orange.jpg");
  }

  .GalleryImg3 {
    background-image: url("../../assets/Images/desktop/image-gallery-cone.jpg");
  }

  .GalleryImg4 {
    background-image: url("../../assets/Images/desktop/image-gallery-sugarcubes.jpg");
  }
}
